# SET

In [1]:
set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

"Set does not allows duplicate values"

In [2]:
set_var = {1,2,3,4,3}
print(set_var)

{1, 2, 3, 4}

In [10]:
set_var = {"Utkrista", "Pranab", "Agrata", "Aagya"}
print(set_var)
type(set_var)

{'Agrata', 'Utkrista', 'Aagya', 'Pranab'}

set

In [11]:
## Adding value in Set
set_var.add("Dannish")
print(set_var)

{'Dannish', 'Agrata', 'Utkrista', 'Pranab', 'Aagya'}

 ### Difference

In [18]:
set1 = {"Avengers", "IronMan", "Hitman"}
set2 = {"Avengers", "Thor", "IronMan", "Black Widow", "Hitman"}

In [19]:
set2.difference(set1)

{'Black Widow', 'Thor'}

In [21]:
## Difference update
set2.difference_update(set1)

In [22]:
print(set2)

{'Black Widow', 'Thor'}

## Intersection

In [23]:
set1 = {"Avengers", "IronMan", "Hitman"}
set2 = {"Avengers", "Thor", "IronMan", "Black Widow", "Hitman"}

In [24]:
set2.intersection(set1)

{'Avengers', 'Hitman', 'IronMan'}

In [25]:
set2.intersection_update(set1)

In [26]:
print(set2)

{'Avengers', 'Hitman', 'IronMan'}

# Dictionaries

In [27]:
dic={}

In [28]:
type(dic)

dict

In [29]:
type(dict())

dict

In [50]:
## Create a dictionary

my_dict = {"Car1":"Audi", "Car2":"BMW", "Car3":"Mercidies Benz"}

In [51]:
type(my_dict)

dict

In [52]:
my_dict['Car1']

'Audi'

In [53]:
# Loop through the dictionaries keys

for x in my_dict:
    print(x)

Car1
Car2
Car3

In [54]:
# Loop through the dictionaries values

for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz

In [55]:
# Loop thourght the key and values

for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [56]:
## Adding items in Dictonaries

my_dict['car4'] = "Lambo"

In [57]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Lambo'}

## Nested Dictionary

In [61]:
car1_model = {'Mercedes': 1960}
car2_model = {'Audi':1970}
car3_model = {'Ambassador':1980}

car_type = {'car1':car1_model, 'car2':car2_model, 'car3':car3_model}

In [62]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [64]:
print(car_type['car2'])

{'Audi': 1970}

In [65]:
print(car_type['car2']['Audi'])

1970

In [67]:
for i in car_type:
    print(i)

car1
car2
car3

In [69]:
for i in car_type.items():
    print(i)

('car1', {'Mercedes': 1960})
('car2', {'Audi': 1970})
('car3', {'Ambassador': 1980})

# Tuple

In [74]:
my_tuple = ()

In [75]:
type(my_tuple)

tuple

In [78]:
my_tuple = ("Utkrista", "Suprav", "Pranab", "Utkrista")

In [80]:
my_tuple

('Utkrista', 'Suprav', 'Pranab', 'Utkrista')

In [82]:
my_tuple.count("Utkrista")

2